# /usr/lib/systemd/system/goshawk.service

[Unit]
Description=goshawk monitoring tool
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/goshawk -config /etc/goshawk.yml -v
Restart=always
RestartSec=5s
User=root
Group=root

[Install]
WantedBy=multi-user.target
